.App {
  max-width: 1120px;
  margin: 0 auto;
  
}

h1 {
  text-align: center;
}

li{
  list-style: none;
}

.logout{
  height: 40px;
  width: 100px;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 5px;
  margin: 10px;
}

.login{
  text-decoration: none;
  height: 40px;
  width: 100px;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 5px;
  margin: 10px;

}
.register{
  text-decoration: none;
  background-color: slateblue;
  color: white;
  cursor: pointer;
  padding: 5px;
  margin: 10px;

}

.login{
  text-decoration: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 5px;
  margin: 10px;

}


.normalizeInput{
  height: 30px;
  width: 200px;
  padding: 5px;
  margin: 5px;
}

.normilizeDescr{
  height: 100px;
  width:  500px;

}